.container2 > h2{
  font-size: 22px;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4rem;
}

.form {
  margin-bottom: 70px;
  display: flex;
  
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}

.form input{
  min-width: 16rem;
}

.form span{
  color: var(--color-warning);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 2px 0 0 10px;
}

.videoCards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.videoCard {
  flex: 0.25;
  margin: 0 5px;
}

.submitbtn {
  color: #fff;
  background-color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 50px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbtn:hover {
  background-color: var(--color-primary-dark);
}

.uploading_div{
  height: auto;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.audioHead{
  margin-top: 5rem !important;
}


