.main {
  padding-top: 72px;
  min-height: 80vh;
}

.back_to_top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back_to_top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #009cea;
  color: #fff;
  transition: all 0.4s;
}

.back_to_top i:hover {
  background: #14b1ff;
  color: #fff;
}
