/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:focus,
*:hover {
  outline: none;
}

:root {
  --color-primary: rgb(0, 156, 234);
  --color-primary-light: rgba(0, 156, 234, 0.2);
  --color-primary-dark: #008bd1;
  --color-secondary: rgba(0, 0, 0 0.3);
  --color-secondary-dark: rgba(0, 0, 0, 0.4);
  --color-black: #000;
  --color-danger: rgb(220, 53, 69);
  --color-danger-light: rgb(255, 69, 0);

  --color-input: #495057;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgba(68, 68, 68, 1);
}

code {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: #009cea;
}

a:hover,
a:focus {
  color: #1eb4ff;
  text-decoration: none;
}

/* container width  */
.container {
  max-width: 1325px !important;
  margin: 0 auto;
}

/* buttons */
button {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 3px;
}

button:focus {
  border: none;
  outline: none;
  text-decoration: none;
}

/* input fields  */
input[type="text"],
input[type="date"],
textarea {
  height: 36px;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 6px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: var(--color-input);
  transition: all 0.3s ease-in-out;
  outline: none;
  outline-style: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea {
  border: 1px solid rgba(0, 123, 255, 0.5);
}

select {
  display: block;
  height: 36px;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-input);
  line-height: 1.3;
  padding: 6px 15px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
}
select:focus {
  border: 1px solid rgba(0, 123, 255, 0.5);
  outline: none;
}
select option {
  font-weight: 400;
}

/***********************************************************/
/****************** input type range styles ****************/
/***********************************************************/
input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  color: #fff;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 10px;
  border-radius: 5px;
  background: var(--color-primary);
  -webkit-appearance: none;
  margin-top: -5px;
  box-shadow: -1000px 0 0 1000px var(--color-primary);
}
input[type="range"]:focus::-webkit-slider-runnable-track,
input[type="range"]:hover::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  background: #fff;
  border-radius: 3px;
}
input[type="range"]::-moz-range-progress {
  width: 100%;
  height: 12px;
  background: var(--color-primary);
  border-radius: 3px;
}
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 8px;
  transform: translateX(-2px);
  background: var(--color-primary);
  margin-top: -5px;

  border: 1px solid var(--color-primary);
}
input[type="range"]:focus::-moz-range-track,
input[type="range"]:hover::-moz-range-track {
  background: rgba(0, 0, 0, 0.05);
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 3px;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 3px;
}
input[type="range"]::-ms-thumb {
  height: 20px;
  width: 10px;
  border-radius: 5px;
  background: var(--color-primary);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.15);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.15);
}
/***********************************************************/
/***********************************************************/

form label {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
}

/* table  */
th {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 560;
}

td {
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 560;
  padding: 0px 0 0 0;
}

tr {
  z-index: 100;
}
