.container {
  width: 25%;
  height: 18.8rem;
}

.card_content {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  min-height: 18.8rem;
  background-color: #fff;
}

.audioplay {
  height: 200px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.audioplay > svg {
  fill: rgba(0, 0, 0, 0.5);
  transform: scale(2);
  cursor: pointer;
}

.info {
  position: relative;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3px 0 28px 0;
}

.info_1 > span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.info_2 {
  display: flex;
  justify-content: flex-end;
}

.removebtn {
  width: 57px;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 1px;
  padding: 4px 0px;
}

.removebtn {
  background-color: #fff;
  border: 1px solid var(--color-danger);
  color: var(--color-danger);
}

.removebtn:hover {
  background-color: var(--color-danger);
  color: #fff;
}

.empty {
  width: 100%;
  height: 18rem;
  border: 2px dashed rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.empty button svg {
  fill: rgba(0, 0, 0, 0.3);
  transform: scale(3);
}
