.container {
  padding: 10px 0 0 0;
  width: 36rem;
  z-index: 1010;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 35px;
}

.header span {
  font-size: 1rem;
  font-weight: 400;
}

.warning {
  padding: 10px;
  margin: 55px 30px 0 30px;
  border-radius: 3px;
  background-color: rgba(220, 53, 69, 0.1);
  border-left: 3px solid var(--color-danger);

  display: flex;
}

.warning svg {
  flex: 20%;
  fill: var(--color-danger-light);
  transform: scale(1);
  margin: auto;
}

.warning_2 {
  flex: 80%;
  display: flex;
  flex-direction: column;
}

.warning_2 span:first-child {
  color: var(--color-danger);
  font-weight: 600;
}

.warning_2 span:last-child {
  font-size: 0.9rem;
  color: var(--color-danger-light);
}

.actions {
  margin: 10px 0 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cancelbtn {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 80px;
}

.cancelbtn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.deletebtn {
  color: #fff;
  background-color: var(--color-danger-light);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.deletebtn:hover {
  background-color: var(--color-danger);
}


