.container {
  padding: 0 10px;
  width: 22rem;
  z-index: 1010;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.header span {
  font-size: 14px;
  font-weight: 400;
}

.actions {
  margin: 10px 0 0 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cancelbtn {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 7px 20px;
  margin: 0 2px;
}

.cancelbtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.deletebtn {
  color: #fff;
  background-color: var(--color-danger-light);
  font-size: 14px;
  font-weight: 600;
  padding: 7px 20px;
  margin: 0 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.deletebtn:hover {
  background-color: var(--color-danger);
}

.result {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 10px;
  color: var(--color-danger);
}



